@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

@media (max-width: 600px) {
  .all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.all .left {
  width: 50%;
  height: 100vh;
  background-image: url(./asset/image/mak-PXqOb63OLg4-unsplash.jpg);
  background-size: cover;
}

@media (max-width: 600px) {
  .all .left {
    width: 100%;
  }
}

.all .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #e0e0e0;
}

@media (max-width: 600px) {
  .all .right {
    width: 100%;
  }
}

.login-form {
  width: 55%;
  height: auto;
  padding: 32px;
  display: block;
  background-color: #dcdcdc;
  -webkit-box-shadow: 3px 3px 10px #777;
          box-shadow: 3px 3px 10px #777;
}

@media (max-width: 600px) {
  .login-form {
    width: 80%;
  }
}

.login-form__hdg {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 28px;
  color: #424242;
  letter-spacing: 0.05em;
}

.login-form__field {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  margin-bottom: 40px;
}

.input-group {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.input-group__input {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #424242;
  padding: 8px 4px;
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #424242;
  /* Floating animation */
}

.input-group__input:valid ~ .input-group__label {
  color: #2ecc71;
}

.input-group__input:invalid ~ .input-group__label {
  color: #e74c3c;
}

.input-group__input:placeholder-shown ~ .input-group__label {
  color: #424242;
}

.input-group__input:focus ~ .input-group__label,
.input-group__input:not(:placeholder-shown) ~ .input-group__label {
  -webkit-transform: translateX(-8px) translateY(-28px) scale(0.8);
          transform: translateX(-8px) translateY(-28px) scale(0.8);
}

.input-group__label {
  font-size: 20px;
  letter-spacing: 0.07em;
  position: absolute;
  top: 8px;
  left: 4px;
  cursor: text;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #424242;
  width: 100%;
  padding: 8px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 2px #424242;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-btn:hover {
  color: #ffffff;
  /* border: 2px solid #ffffff; */
  background: #656565;
  border: none;
}

.login-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.loginBtn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}

.loginBtn:before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  -webkit-box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c69ba), to(#3b55a0));
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5b7bd5), to(#4864b1));
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

.w-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-100 a {
  margin-top: 1rem;
  color: #424242;
}
/*# sourceMappingURL=index.css.map */