@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

.all .left {
  width: 50%;
  height: 100vh;
  background-image: url(./asset/image/mak-PXqOb63OLg4-unsplash.jpg);
  background-size: cover;
}

.all .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #e0e0e0;
}

.login-form {
  width: 55%;
  height: auto;
  padding: 32px;
  display: block;
  background-color: #dcdcdc;
  -webkit-box-shadow: 3px 3px 10px #777;
          box-shadow: 3px 3px 10px #777;
}

.login-form__hdg {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 28px;
  color: #424242;
  letter-spacing: 0.05em;
}

.login-form__field {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  margin-bottom: 40px;
}

.input-group {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.input-group__input {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #424242;
  padding: 8px 4px;
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #424242;
  /* Floating animation */
}

.input-group__input:valid ~ .input-group__label {
  color: #2ecc71;
}

.input-group__input:invalid ~ .input-group__label {
  color: #e74c3c;
}

.input-group__input:placeholder-shown ~ .input-group__label {
  color: #424242;
}

.input-group__input:focus ~ .input-group__label,
.input-group__input:not(:placeholder-shown) ~ .input-group__label {
  -webkit-transform: translateX(-8px) translateY(-28px) scale(0.8);
          transform: translateX(-8px) translateY(-28px) scale(0.8);
}

.input-group__label {
  font-size: 20px;
  letter-spacing: 0.07em;
  position: absolute;
  top: 8px;
  left: 4px;
  cursor: text;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #424242;
  width: 100%;
  padding: 8px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 2px #424242;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-btn:hover {
  color: #ffffff;
  /* border: 2px solid #ffffff; */
  background: #656565;
  border: none;
}

.login-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.w-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-100 a {
  margin-top: 1rem;
  color: #424242;
}
/*# sourceMappingURL=index.css.map */