@import './asset/scss/responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    @include small () {
        flex-direction: column;
    }

    .left {
        width: 50%;
        height: 100vh;
        background-image: url(./asset/image/mak-PXqOb63OLg4-unsplash.jpg);
        background-size: cover;
        @include small () {
            width: 100%;
        }
    }

    .right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #e0e0e0;
        @include small () {
            width: 100%;
        }
    }
}

.login-form {
    width: 55%;
    height: auto;
    padding: 32px;
    display: block;
    background-color: #dcdcdc;
    box-shadow: 3px 3px 10px #777;
    @include small () {
        width: 80%;
    }

    &__hdg {
        display: block;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 32px;
        font-size: 28px;
        color: #424242;
        letter-spacing: 0.05em;
    }

    &__field {
        display: grid;
        gap: 24px;
        margin-bottom: 40px;
    }
}

.input-group {
    display: block;
    width: 100%;
    height: auto;
    position: relative;

    &__input {
        display: block;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        background-color: transparent;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #424242; //white
        padding: 8px 4px;
        outline: none;
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid #424242;

        &:valid~.input-group__label {
            color: #2ecc71; //green
        }

        &:invalid~.input-group__label {
            color: #e74c3c; //red
        }

        &:placeholder-shown~.input-group__label {
            color: #424242; //white
        }

        /* Floating animation */
        &:focus~.input-group__label,
        &:not(:placeholder-shown)~.input-group__label {
            transform: translateX(-8px) translateY(-28px) scale(0.8);
        }
    }

    &__label {
        font-size: 20px;
        letter-spacing: 0.07em;
        position: absolute;
        top: 8px;
        left: 4px;
        cursor: text;
        user-select: none;
        transition: all 0.3s ease;
    }
}

.login-btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #424242;
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    background-color: transparent;
    border: solid 2px #424242;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;

    &:hover {
        color: #ffffff;
        /* border: 2px solid #ffffff; */
        background: #656565;
        border: none;
    }

    &:active {
        transform: scale(0.9);
    }
}

.w-100 {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-top: 1rem;
        color: #424242;
    }
}