* {
    padding: 0px;
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 300px;
    overflow: auto;
    display: block;

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #555;
    }
}

thead {
    tr {
        background-color: #4355a0 !important;
        color: #fff;
    }
}

tbody {
    height: 100%;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 4rem;
    width: 10rem;
}

tr:nth-child(odd) {
    background-color: #fff;

    &:hover {
        background-color: #efe4e4;
    }
}

tr:nth-child(even) {
    background-color: #efe4e4;
}

.all {
    display: table-row;
    box-shadow: 5px 15px 19px 3px;
}

.d-none {
    display: none;
}

.to-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}